body {
  background-color: #000000;
  padding: 10px;
}

h2{
  color: white;
}

.title {
  color: rgb(156, 156, 255);
  font-weight: bold;
}

ul{
  list-style-type: circle;
}

li {
  padding: 5px;
}

span {
  font-size: 20px;
  padding: 15px;
  width: 30%;
}
   
   