body {
  background-color: #000000;
  padding: 5%;
}

h2{
  color: white;
}

.title {
  color: rgb(156, 156, 255);
  font-weight: bold;
}


th, td {
  text-align: left;
  padding: 2%;
}

td {
  font-size: large;
  padding: 2%
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%
}
   
   