ul{
    list-style-type: circle;
  }

  li {
    padding: 5px;
  }

  span {
    font-size: large;
    padding: 15px;
  }

  .title {
    color: red;
    }
   
   body {
   background-color: black;
   padding: 10px;
   }